.govuk-comms-plugin--email-alert {
  width: $emailAlertWidth;
  background: #eaeaea;
  border: 2px solid black;
  min-height: $emailAlertHeight;
  transition: all 1.5s;
  animation: shake 5s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  padding: 1rem;
  position: fixed;
  bottom: -100%;

  &:hover {
    cursor: pointer;
  }
}
