.govuk-comms-plugin--email-alert {
  width: $emailAlertWidth;
  background: #eaeaea;
  border: 2px solid black;
  height: $emailAlertWidth;
  transition: all 1.5s;
  animation: shake 5s cubic-bezier(.36, .07, .19, .97) both infinite;
  transform: translate3d(0, 0, 0);
  position: fixed;
  bottom: -100%;

  &--translate-from-bottom {
    bottom: 1rem;
    right: 1rem;
  }

  &:hover {
    cursor: pointer;
  }
}
